@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.breadcrumbWrapper {width: 100%;height: auto;padding: 10px 0px;}
.breadcrumb2 {background: none!important;padding: 0px!important;}
.breadcrumb2 li{color: var(--dark-color);font-size: 18px!important;font-weight: 500!important;}
.breadcrumb2 li a{color: var(--background-color);font-size: 18px!important;text-decoration: none;}


.detailsPage .detailsContainer{max-width: 85%!important;}

.detailsPage .productInfo h1{font-size: 50px;font-weight: bold;opacity: 0.9;}
.detailsPage .productInfo .priceSec .o-price{line-height: 28px;font-weight: 700;font-size: 32px;text-decoration: line-through;}
.detailsPage .productInfo .priceSec .priceLarge{font-size:60px ;font-weight: 700;}
.detailsPage .productZoom{display: flex; width: 100%;border: 1px solid rgba(0, 0, 0, 0.15);padding: 10px;overflow: hidden;border-radius: 10px;height: 400px;justify-content: center;align-items: center;}

.detailsPage .item{ display: flex!important;align-items: center!important; width: 100px!important;height: 100px;justify-content: center!important;}
.detailsPage .item img{  padding: 10px; width: 100%;height: auto;}
/* .detailsPage .slick-slide{width: auto!important;} */
.detailsPage .slick-arrow{width: 30px;height: 30px;top: 56%!important;font-size: 30px;zoom: 0.95;}
.detailsPage .slick-next{z-index: 2; right: -10px;}
.detailsPage .slick-prev{z-index: 2; left: -10px;}
.detailsPage .slick-next:before{z-index: 2;font-size: 24px;color: var(--background-color);}
.detailsPage .slick-prev:before{z-index: 2;font-size: 24px;color: var(--background-color);}
.detailsPage .slick-track{width: max-content!important;}

.detailsPage .slick-arrow:hover{width: 40px;height: 40px;position: absolute;top: 47%;font-size: 30px;}
.detailsPage .slick-slide .item{margin: auto!important; overflow: hidden;cursor: pointer!important;}
.zoomSlider{padding-top: 30px;}
.zoomSlider .slick-current{border-radius:10px;border: 1px solid var(--background-color);width: auto!important;}

.productSize {width: 100%;height: auto;padding: 25px 0;}
.productSize span{margin-right: 15px;}
.productSize ul li {margin-right: 10px!important;width: auto;}
.productSize ul li a{height: 20px; display: flex;align-items: center;justify-content: center;padding: 20px!important;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 5px!important;cursor: pointer;text-decoration: none!important;color: #000;font-size: 16px!important;transition: all 0.3s ease-in-out;}
.productSize ul li a.active{background: var(--background-color);color: var(--primary-color);}

.addCartSection{width: 100%;height: auto;}
.addCartSection .counterSec{width: 100px;height: 50px;border-radius: 10px;border: 1px solid var(--background-color);overflow: hidden;padding: 10px;position: relative;}
.addCartSection .counterSec input{width: 50px; height: 27px;padding: 5px;border: 0px;outline: none;text-align: center!important;font-size: 18px!important;}
.addCartSection .counterSec .arrow{position: absolute;cursor: pointer;opacity: 0.7;}
.addCartSection .counterSec .arrow.plus{top: 1px;right: 10px;}
.addCartSection .counterSec .arrow.minus{bottom: 1px;right: 10px;}

.addCartSection #btn-bg{background-color: var(--background-color)!important;color: var(--primary-color);border: 1px solid var(--background-color);outline: none;border-radius: 8px;align-items: center;display: flex;padding: 5px 15px;height: 50px;margin-left: 20px ;font-weight: 500!important;text-transform: capitalize;font-size: 15px;}
.addCartSection #btn-bg:hover{background-color: var(--primary-color)!important;color: var(--background-color);}

.addCartSection #wishlst-btn{background-color: var(--primary-color)!important;color: rgba(0, 0, 0, 0.65);border: 1px transparent;border-radius: 8px; outline: none;align-items: center;display: flex;padding: 5px 15px;height: 50px;margin-left: 20px ;font-weight: 500!important;text-transform: capitalize;font-size: 15px;}
.addCartSection #wishlst-btn:hover{background-color: var(--background-color)!important;color: var(--primary-color);}
.addCartSection #wishlst-btn{background-color: var(--primary-color)!important;color: rgba(0, 0, 0, 0.65);border: 1px transparent;border-radius: 8px; outline: none;align-items: center;display: flex;padding: 5px 15px;height: 50px;margin-left: 20px ;font-weight: 500!important;text-transform: capitalize;font-size: 15px;}
