
/* In your CSS file */
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    /* Add other font properties if needed */
  }

*{margin:0px;padding: 0px;box-sizing: border-box; font-family: 'Quicksand', sans-serif;}



.container-fluid{padding: 0px 35px;}
.cursor{cursor: pointer;}
.bg-color{background: #201658;}
.text-grey{color: #5f5f5f!important;font-weight: 500;}
.text-bg{color: var(--background-color)!important;}
.text-org{color: #bb8300!important;font-size:16px ;font-weight: 500;}
.icon-color{color:gray;}
.hd{font-size:34px;font-weight: 700;margin-bottom: 20px;}
.theme-btn{font-size: 18px; background-color: var(--background-color);color: #fff;border: none;outline: none;border-radius: 4px;align-items: center;display: flex;padding: 10px 20px;border: 1px solid var(--background-color);transition: all 0.3s ease-in-out;}
.theme-btn:hover{background-color: var(--primary-color);color: var(--background-color);}

.listingPage{width: 100%;height: auto;padding: 0px 25px;}
.breadcrumb{width: 100%;height: auto;padding: 45px 45px!important;background:#ffab7e67!important;border-radius: 10px;}
.breadcrumb h1{font-size: 36px;font-weight: bold;}
.breadcrumb li{margin-right: 15px!important;}
.breadcrumb li a{color: rgba(0,0,0,0.65);text-decoration: none;font-size: 16px;font-weight: 600;}

.sidebarWrapper{margin-left: 15px;max-width: 20%!important;}
.sidebarWrapper .sidebar{position: sticky;top: 80px;}
.rightContent{max-width: 80%!important;}

/* .sidebarWrapper{margin-left: 15px;max-width: 20%!important;flex:0 0 20%!important;}
.rightContent{max-width: 80%!important;flex:0 0 80%!important;} */



