
/* In your CSS file */
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    /* Add other font properties if needed */
  }

*{margin:0px;padding: 0px;box-sizing: border-box; font-family: 'Quicksand', sans-serif;}

.container-fluid{padding: 0px 35px;}
.cursor{cursor: pointer;}

.bg-color{background: #201658;}

.icon-color{color:gray;}
.hd{font-size:34px;font-weight: 700;margin-bottom: 20px;}

.listingPage{width: 100%;height: auto;padding: 45px 25px;}
.breadcrumb{width: 100%;height: auto;padding: 45px 45px!important;background:#fa945d3b!important;border-radius: 10px;}
.breadcrumb h1{font-size: 36px;font-weight: bold;}
.breadcrumb li{margin-right: 15px!important;}
.breadcrumb li a{color: rgba(0,0,0,0.65);text-decoration: none;font-size: 16px;font-weight: 600;}



