@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.catSlierSection{width: 100%;height: auto;padding: 30px 0;}
.cat_Slider_Main{height: 150px;background-color: aquamarine;}
