@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.catSlierSection{width: 100%;height: auto;padding: 30px 20px;}
.cat_Slider_Main{box-shadow: 0px 5px 10px rgba(0, 0, 0, 15%);}
.slick-slider{padding: 15px;}
.cat_Slider_Main .slick-slide{padding-right: 30px!important;}
.cat_Slider_Main .item{ cursor:pointer; height: auto;margin-right: 10px;background-color: #d1d5de;}
.cat_Slider_Main .item img{max-height:200px;padding: 20px;}
.cat_Slider_Main .item p {opacity: 0.8;}
.cat_Slider_Main .item .info{  position: relative;padding: 10px; color: var(--dark-color); background-color: #d1d5de;display: flex;align-content: center;justify-content: center;align-items: center;flex-direction: column;transition: all 0.3s ease-in-out;}
.cat_Slider_Main .item:hover .info{box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2),0 3px 6px rgba(0, 0, 0, 0.15);transform: translateY(-6px);}

.slick-arrow{width: 40px;height: 40px;position: absolute;top: 47%;font-size: 30px;}
.slick-next{z-index: 2; right: 20px;}
.slick-prev{z-index: 2; left: 20px;}
.slick-next:before{z-index: 2;font-size: 24px;color: var(--background-color);}
.slick-prev:before{z-index: 2;font-size: 24px;color: var(--background-color);}

.slick-arrow:hover{width: 40px;height: 40px;position: absolute;top: 47%;font-size: 30px;}

